* {
    box-sizing: border-box;
}

html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    background-color: lemonchiffon;
}

.meme-edit {
    width: 1000px;
    display: flex;
}

.meme-image {
    position: relative;
    width: 550px;
    height: 550px;
    background-color: #555;
}

#meme-canvas {
    position: absolute;
    top: 22px;
    left: 22px;
    border: 2px solid black;
}

.meme-controls {
    background-color: lightcoral;
    width: 400px;
    /* display: grid;
    grid-template-columns: repeat(5, 1fr); */
}

.image-gallery {
    background-color: lightblue;
    display: flex;
    justify-content: flex-start;
}

.image-gallery img {
    cursor: pointer;
    height: 200px;
    margin-inline-end: 0.5rem;
}
.image-gallery img:hover {
    height: 190px;
}