:root {
    --orange: rgb(236, 95, 1);
}

* {
    box-sizing: border-box;
}

html {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: lemonchiffon;
    touch-action: manipulation;
    min-height: 100vh;
}

header {
    background-color: var(--orange);
    width: 100vw;
}

h1 {
    font-size: 1.8rem;
    color: white;
    margin: 0;
    padding: 5px;
}

a {
    background-color: #fff;
    padding: 5px 8px;
    margin-inline-end: 10px;
    text-decoration: none;
    font-weight: bold;
    color: var(--orange);
}

a:visited {
    color: var(--orange);
}

a:hover {
    background-color: #edd;
}

button, input, select {
    text-transform: uppercase;
    font-size: 1rem;
    background-color: #fff;
    color: #322;
    border: none;
    outline: none;
    padding: 6px 8px;
    min-width: 50px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s;
}

button:hover,
select:hover {
    background-color: #edd;
}

label {
    font-size: 1rem;
    padding-top: 5px;
}

.main-content {
    max-width: 1000px;
    margin: 0 auto;
}

.top-nav {
    margin: 0 auto;
    height: 10vh;
    padding: 10px;
}

.hamburger {
    display: none;
    background-color: var(--orange);
    color: white;
    position: fixed;
    right: 20px;
    font-weight: bold;
    font-size: 2rem;
}

.keywords {
    z-index: 0;
    transition: 3.4s;
    margin-inline-end: 2rem;
    display: flex;
}
.keyword {
    background-color: var(--orange);
    display: inline;
    color: white;
}
.keyword:hover {
    transform: scale(1.1);
    background-color: initial;    
}
.keyword-all {
    background-color: #fff;
    color: var(--orange);
}
.keyword-all:hover {
    background-color: #ddd;
}

.meme-edit {
    margin: 20px auto;
}

.meme-image {
    position: relative;
    width: 50vw;
    height: 50vw;
    max-width: 500px;
    max-height: 500px;
    touch-action: manipulation;
}

#meme-canvas {
    position: absolute;
    top: 0px;
    left: 0px;
}

.meme-controls {
    margin-top: 15px;
    align-self: flex-start;
    width: 44%;
    background-color: var(--orange);
    padding: 0.6rem;
    color: white;
    flex-direction: column;
    justify-content: space-evenly;
}
.control-row {
    padding: 10px 0px;
    border-bottom: 2px solid rgb(253, 101, 0);
}
.control-top {
    text-align: center;
    font-size: 1.3rem;
    border-bottom: none;
}
.control-buttons {
    font-size: 1.1rem;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    border-bottom: none;
}
.emoji {
    font-size: 2rem;
}
.emoji:hover {
    transform: scale(1.2);
}

body.open-gallery .logo {
    position: fixed;
    left: -1000px;
}

/* FLOAT BAR */
.float-bar {
    position: relative;
    background-color: var(--orange);
    padding: 10px;
}
.float-bar button {
    height: 40px;
}
.color-picker {
    position: absolute;
    width: 20vw;
    height: 10vw;
    left: 10vw;
    top: -60px;
    display: grid;
    padding: 3px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 3px;
    border: 4px solid var(--orange);
    background-color: #111;

    transition: z-index 0.8s, transform 0.5s, opacity 0.5s;
}
.color:hover {
    transform: scale(1.1);
}
#inlineText {
    position: fixed;
    top: -1000px;
    width: 0px;
    opacity: 0.0;
}

/* GALLERIES */
.image-gallery,
.memes-gallery {
    position: absolute;
    top: 90px;
    width: 90vw;
    left: 5vw;
    background-color: var(--orange);
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 10px 10px;
    grid-template-columns: repeat(auto-fill, minmax(100px, 200px));
    transition: transform .7s;
}
.image-gallery img,
.saved-meme {
    height: 200px;
    margin-inline-end: 0.5rem;
    transition: transform .5s;
}
.image-gallery img:hover {
    transform: rotate(5deg);
}
.saved-meme:hover {
    transform: scale(1.06);
}

/* MODAL */
.modal {
    position: fixed;
    z-index: 9;
    background-color: #fff;
    top: 5vh;
    left: 5vw;
    width: 450px;
    padding: 25px;

    transition: transform .7s;
}
.modal button {
    background-color: var(--orange);
}
.modal h2 {
    color: var(--orange);
    text-decoration: underline;
}
.modal p {
    font-size: 0.9rem;
    line-height: 1.4rem;
}
.modal p::first-letter { 
    font-weight: bold;
    font-size: 1.3rem;
}
small {
    margin-top: 20px;
    line-height: 1.4;
    font-weight: bold;
    display: block;
}

/* HELPERS */
.flex {display: flex;}
.flex.space-between {justify-content: space-between;}
.flex.space-around {justify-content: space-around;}
.flex.align-center {align-items: center;}
.mrg-bottom {margin-bottom: 1rem;}
.clean-list {
    list-style-type: none;
    margin: 0;
}
.pointer { cursor: pointer;}
.disabled { cursor: not-allowed;}
.darker {
    background-color: rgba(0, 0, 0, 0.1);
}
.sec-font {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    font-weight: 900;
}
.fast-transition {transition: 0.2s;}
.round-corner {
    border-radius: 0 0 5px 0;
}
.rounder-corner {
    border-radius: 0 0 10px 0;
}
.shadow {
    -webkit-box-shadow: 3px 2px 6px 0px rgba(65, 55, 50, 0.81);
    -moz-box-shadow:    3px 2px 6px 0px rgba(65, 55, 50, 0.81);
    box-shadow:         3px 2px 6px 0px rgba(65, 55, 50, 0.81);
}
.text-shadow {
    text-shadow: 3px 2px 6px rgba(65, 55, 50, 0.81);
}

/* HIDERS */
.hidden-up {
    transform: translateY(-100%);
    top: -300px;
}
.hidden-left {
    transform: translateX(-100%);
    left: 0px;
}

.hidden-top {
    display: none;
    z-index: -1;
    opacity: 0.0;
    background-color: yellow;
}

.hidden {
    visibility: hidden;
}
.folded-up {
    transform: translateY(-70%);
    opacity: 0;
    z-index: -1;
}

/* CONTROLS CUSTOMIZE */
#lineText { flex-grow: 1; margin-inline-start: 1rem;}
#currLine { width: 40px; }
#currLine::-webkit-outer-spin-button,
#currLine::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
#currLine {
    -moz-appearance: textfield;
}
#currLine:hover {
    cursor: not-allowed;
}
select {
    font-weight: bold;
    outline: none;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
}


/* TABLET */
@media (max-width: 720px) {
    .top-nav {
        margin-inline-end: 20px;
    }
    body.open-gallery .main-nav {
        display: none;
    }
    .meme-edit {
        flex-direction: column;
        width: 83.3333vw;
    }
    .meme-image {
        margin: 0px auto 10px auto;
        width: 83.3333vw;
        height: 83.3333vw;
        max-width: unset;
        max-height: unset;
    }
    .meme-controls {
        width: 83.3333vw;
        margin: 0 auto;
    }
} 
/* MOBILE */
@media (max-width: 500px) {
    .main-nav {
        background-color: var(--orange);
        position: fixed;
        z-index: 2;
        top: -800px;
        right: 0px;
        flex-direction: column;
        transition: top .6s;
    }
    body.open-menu .main-nav {
        top: 80px;
    }
    ul {
        padding-inline-start: 0px;
    }
    .main-nav a {
        padding: 10px;
        width: 180px;
        margin: 20px 10px;
    }

    .meme-edit {
        flex-direction: column;
        width: 96.1538vw;
    }
    .meme-image {
        margin: 0px auto 10px auto;
        width: 96.1538vw;
        height: 96.1538vw;
    }
    .meme-controls {
        width: 96.1538vw;
        margin: 0 auto;
    }

    .image-gallery {
        grid-template-columns: repeat(auto-fill, minmax(100px, 150px));
    }
    .image-gallery img {
        height: 150px;
    }

    .modal {
        width: 350px;
    }
    .color-picker {
        width: 70vw;
        height: 20vw;
    }
    .hamburger {
        display: block;
    }
    .top-nav {
        height: 70px;
    }

    .keywords {
        background-color: var(--orange);
        z-index: 2;
        position: fixed;
        left: 5vw;
        width: 90vw;
        top: 80px;
        width: 90%;
    }
    .keywords a {
        padding: 5px;
    }
}